
@{
    ViewBag.Title = "Don";
}

<div class="donation-box">
    <div class="title">Formulaire de don</div>

    <div class="fields">
        <input type="text" id="firstName" placeholder="Votre prénom" />
        <input type="text" id="lastName" placeholder="Votre nom" />
        <input type="text" id="email" placeholder="Votre courriel" />
        <input type="text" id="adress" placeholder="Votre adresse" />
        <input type="text" id="phone" placeholder="Votre téléphone" />
        <select id="country" name="country" autocomplete="country" class="form-control">
            <option value="" selected="selected">Sélectionner un projet</option>
            <option value="AF">Projet 1</option>
            <option value="AL">Projet 2</option>
            <option value="DZ">Projet 3</option>
            <option value="AS">Projet 4</option>
            <option value="AD">Projet 5</option>
            <option value="AO">Projet 6</option>
        </select>
    </div>

    <div class="amount">
        <div class="button">$25</div>
        <div class="button">$50</div>
        <div class="button">$100</div>
        <div class="button">$<input type="text" class="set-amount" placeholder="Autre"> </input></div>
    </div>
    <div class="checkboxes">
        <input type="checkbox" id="receipt" class="checkbox" />
        <label for="receipt">Reçu fiscale</label>
        <br />
        <input type="checkbox" id="anon" class="checkbox" />
        <label for="anon">Ne pas afficher le don sur le site</label>

    </div>


    <div class="confirm">

    </div>

    <div class="donate-button">
        <i class="fa fa-credit-card"></i> Faire un don maintenant
    </div>
</div>


