
@{
    ViewBag.Title = "Projets";
}

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Nos projets</h1>
        <p class="lead text-muted">Découvrez nos derniers projets et encouragé nos membres dans leurs projets</p>
        <p>
            <a href="#" class="btn btn-b-n">Tous les projets</a>
            <a class="btn btn-b-n" asp-area="" asp-controller="Home" asp-action="Don">Faire un dons</a>
        </p>
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="~/Content/images/projets/projet1.jpg" data-holder-rendered="true">
                    <div class="card-body">
                        <h3>Projet 1</h3>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Afficher</button>
                                <a class="btn btn-sm btn-outline-secondary" asp-area="" asp-controller="Home" asp-action="Don">Faire un don</a>
                            </div>
                            <small class="text-muted">20 avril 2021</small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="~/Content/images/projets/projet2.jpg" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                    <div class="card-body">
                        <h3>Projet 2</h3>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Afficher</button>
                                <a class="btn btn-sm btn-outline-secondary" asp-area="" asp-controller="Home" asp-action="Don">Faire un don</a>
                            </div>
                            <small class="text-muted">30 mars 2121</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="~/Content/images/projets/projet3.jpg" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                    <div class="card-body">
                        <h3>Projet 3</h3>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Afficher</button>
                                <a class="btn btn-sm btn-outline-secondary" asp-area="" asp-controller="Home" asp-action="Don">Faire un don</a>
                            </div>
                            <small class="text-muted">10 juin 2021</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="~/Content/images/projets/projet1.jpg" data-holder-rendered="true">
                    <div class="card-body">
                        <h3>Projet 4</h3>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Afficher</button>
                                <a class="btn btn-sm btn-outline-secondary" asp-area="" asp-controller="Home" asp-action="Don">Faire un don</a>
                            </div>
                            <small class="text-muted">20 avril 2021</small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="~/Content/images/projets/projet2.jpg" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                    <div class="card-body">
                        <h3>Projet 5</h3>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Afficher</button>
                                <a class="btn btn-sm btn-outline-secondary" asp-area="" asp-controller="Home" asp-action="Don">Faire un don</a>
                            </div>
                            <small class="text-muted">30 mars 2121</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="~/Content/images/projets/projet3.jpg" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                    <div class="card-body">
                        <h3>Projet 6</h3>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Afficher</button>
                                <a class="btn btn-sm btn-outline-secondary" asp-area="" asp-controller="Home" asp-action="Don">Faire un don</a>
                            </div>
                            <small class="text-muted">10 juin 2021</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Features Section -->
<div class="row resumeProjetgo">
    <div class="col-lg-6">
        <h2>
            La force de notre expertise
        </h2>
        <p>
            Développement de la solidarité par l’entremise de
            l’entreprenariat et de projets communautaires:
        </p>
        <strong>ProjetGo en quelques mots</strong>
        <ul>
            <li>Plateforme web de suivi et d'évaluation de projets</li>
            <li>Un vaste réseau d’entreprises et institutions coopératives </li>
            <li>Plusieurs façons de mettre votre expertise à profit</li>

        </ul>
        <p>Les projets peuvent être portés par tout type d'organisation légalement constituée (coopérative, entreprise à but lucratif, organisme à but non lucratif, organisme de bienfaisance enregistré, institution) ou par un travailleur autonome ou encore faire l'objet d'un projet individuel.</p>
    </div>
    <div class="col-lg-6">
        <img class="img-fluid rounded" src="~/Content/images/ProjetGo-pic04.jpg" alt="">
    </div>
</div>
<!-- /.row -->


<script>
$(document).ready(function () {
        $("#myCarousel").carousel();
    });</script>




