@model ProjetGo.BenevolesProjet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Benevoles du projet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Code bénévole
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Benevole.codeBenevole)
        </dd>

        <dt>
            Projet
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Projet.titreProjet)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.codeBenevoleProjet }) |
    @Html.ActionLink("Retour à la liste", "Index")
</p>
